<table align="center" style="margin-top: 5cm;">
  <td ><img src="/acc.jpg" height="200cm" width="500cm"></td>
  <td>Fashion accessories and costume jewelry are items that are used to complement fashion. Accessories help highlight a
    dress or apparel. They can also help to hide a weakness of a dress. Trends are continuously set by adding accessories
    to different outfits, for example, belts.

    Cheap disposable paper bags and plastic shopping bags are very common in the retail trade as a convenience for shoppers,
    and are often supplied by the shop for free or for a small fee. Customers may also take their own shopping bags to some
    shops. Although paper had been used for purposes of wrapping and padding in ancient China since the 2nd century BC,[3]
    the first use of paper bags (for preserving the flavor of tea) in China came during the later Tang Dynasty</td>
  <tr align="center">

  </tr>
</table>