<html>
<head><title>Data types</title></head>
<script>

</script>
<body bgcolor="#ffe4c4">
<h1>JavaScript Data Types</h1>
<ol>
  <li>A data type specifies the type of value stored in a reference.</li>
  <li>A data type defines the value type that an interpreter can recognize in order to process it.</li>
  <li>Several operations in Javascript are handled by interpreter according to the specified data type.</li>
  <li>
    <details>
      <summary>The javaScript data types are classified into two types:</summary>
  <ol type="i">
    <li>
    <details>
      <summary>
        Primitive types or Value types
      </summary>
      <ol>
      <li>The primitive types are stored in a memory stack</li>
      <li>The memory stack uses last in first out mechanism in order to give access</li>
      <li>They have a fixed value as per ECMA standards.</li>
        <li>The JavaScript primitive types are:</li>
        <ol type="a">
          <li><a href="http://htmlbyarun.cf/web_apps/primitive" target="_blank">Number</a></li>
          <li><a href="http://htmlbyarun.cf/web_apps/primitive" target="_blank">String</a></li>
          <li><a href="http://htmlbyarun.cf/web_apps/primitive" target="_blank">Boolean</a></li>
          <li><a href="http://htmlbyarun.cf/web_apps/primitive" target="_blank">Null</a></li>
          <li><a href="http://htmlbyarun.cf/web_apps/primitive" target="_blank">Undefined</a></li>
        </ol>
      </ol>
    </details>
    </li>

    <li>
      <details>
        <summary>Non-Primitive types or Reference types</summary>
        <ol>
          <li><a href="http://htmlbyarun.cf/web_apps/NonPrimitive">Array Type</a></li>
          <li><a href="http://htmlbyarun.cf/web_apps/NonPrimitive">Object</a></li>
          <li><a href="http://htmlbyarun.cf/web_apps/NonPrimitive">Regular Expression</a></li>
        </ol>
      </details>

      </li>
  </ol>
    </details>
  </li>

</ol>
</body>
</html>