<br><h1 align="center"><b style="color: darkred"> **************** Frames are not used now a days ****************</b></h1>
<ul><h2>How to use frames?</h2>
<pre>
&lt!DOCTYPE html&gt
&lthtml&gt
&lthead&gt
    &lttitle&gtFrames&lt/title&gt
&lt/head&gt

&ltframeset cols="15%,70%,15%"&gt
  &ltframe src="http://htmlbyarun.cf/web_apps/home" name= "home"&gt&lt/frame&gt
  &ltframe src="http://htmlbyarun.cf/web_apps/about" name= "about"&gt&lt/frame&gt
  &ltframe src="http://htmlbyarun.cf/web_apps/Contact" name= "Contact"&gt&lt/frame&gt
&lt/frameset&gt

&lt/html&gt
  </pre>
<h2>How to use frames such that when ever the link is clicked targeted page should open in same page in frames?</h2>
<pre>
Use frames with frame names and in source page, the link <br>generated to get target page by using a tag with <br>attribute target as frame name.<br>
  &lta scr="http://htmlbyarun.cf/web_apps/home" target="home"&gt HOME &lta&gt |
  &lta scr="http://htmlbyarun.cf/web_apps/about" target="about"&gt ABOUT &lta&gt |
  &lta scr="http://htmlbyarun.cf/web_apps/Contact" target="Contact"&gt CONTACT &lta&gt

<font size="4" style="margin-left: 15%;"><b>like in image below</b></font>
  <img src="/frame.jpg">
</pre></ul>
