<!DOCTYPE html>
<html>
<head><title>IFRAME</title></head>
<body vlink="#228b22">
<header>
  <nav>
    <menu id='homepage'align="left" style="margin-bottom: -2.5%;"><font size="5"><a href="http://htmlbyarun.cf"><b>HOME</b></a></font></menu>
    <menu align="center">
      <font size="5">
        <b>
          <a href="http://htmlbyarun.cf/web_apps/welcome" target="frameBody" >LANDING PAGE</a> |
          <a href="http://htmlbyarun.cf/web_apps/home" target="frameBody" >HOME</a> |
          <a href="http://htmlbyarun.cf/web_apps/about" target="frameBody">ABOUT</a> |
          <a href="http://htmlbyarun.cf/web_apps/Contact" target="frameBody">CONTACT</a>|
          <a href="http://htmlbyarun.cf/#page2" target="frameBody">TABLE</a>|
          <a href="http://htmlbyarun.cf/web_apps/form" target="frameBody">FORM</a>
        </b>
      </font>
    </menu>
  </nav>
</header>
<section>
  <iframe src="http://htmlbyarun.cf/web_apps/welcome" name="frameBody" width="1750" height="600" frameborder="1">
  </iframe>
</section>
<footer>
  <div align="center">
    <i> &copy;Copyright2017<br></i>
  </div>
</footer>
<h2 align="center">Source Code</h2>
<pre style="margin-left: 28%">
&lta href="http://htmlbyarun.cf/web_apps/welcome" target="frameBody" &gtLANDING PAGE&lt/a&gt
&ltiframe src="http://htmlbyarun.cf/web_apps/home" name="frameBody" width="100%" height="100%"&gt
&lt/iframe&gt
</pre>
</body>
</html>
