<table align="center" style="margin-top: 5cm;">
  <td ><img src="/shoe.jpg"></td>
  <td>If you're anything like us, you love shoes so much that you can almost never pass up a shoe sale.
    And you probably have enough pairs of black boots to dress an army.

    But what do you really know about your beloved shoes? We bet you don't know the story behind the
    Louboutin red sole. And what do your shoes say about you? If you're making a modest salary, you
    probably don't wear too many heels. Read on for 11 things you never knew about the shoes you
    wear all the time.</td>
  <tr align="center">

  </tr>
</table>