<html>
<head><title>Using Class</title>
  <style>
    .btnclass{
      background: green;
    }
  </style>
  <script type="text/javascript">
    function bodyload() {
      x = document.getElementsByClassName("btnclass");
      alert("Number of button class :"+x.length);
      document.getElementById("txtName").value = "Arun";
      document.getElementById("btntxt").value = "Submit"
    }
  </script>
</head>
<body onload="bodyload()">
<h2>Using Class</h2>

<img height="100" width="100" name='pic' id="pic" class="imgclass">

<form name="form1">
  <h2>Form1</h2>
  <input type="text" name='txtName' id="txtName" class="txtclass">
</form>
<form name="form2">
  <h2>Form2</h2>
  <input type="button" name='btntxt'id="btntxt" class="btnclass">
</form>
</body>
</html>
